 body{
 	text-align: justify;
 	background-color: #777;
 }

 img{
 	display: block;
 }

 header {
 	width: 100%;
 	background-color: blue;

 }

 nav{
 	width: 80%;
 	height: 40px;
 	line-height: 40px;
 	margin: auto;
 	background-color: black;
 }

 ul{
 	width: 100%;
 }

 li{
 	background-color: red;
 	list-style-type: none;
 	padding: 10px;
 	flex-wrap: none;
 }

 a{
 	text-decoration: none;
 	font-size: 30px;
 }

 h1{
 	padding-top: 30px;
 	padding-left: 15px;
 	text-decoration: underline;
 }